.background.faq {
  background: url(~/assets/img/Grand_Marlin_Proposal-63.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.25);
  background-blend-mode: lighten;
  width: 100vw;
  height: 100vh;
}
