@font-face {
  font-family: "FarAwayGalaxy";
  src: url("/fonts/FarAwayGalaxy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "FarAwayGalaxy", sans-serif;
  margin: auto;
  text-align: center;
  color: whitesmoke;
}

body {
  background: url(~/assets/img/Grand_Marlin_Proposal-3.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 128px;
}

