body {
  font-family: "Playfair Display", serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  max-width: 100%;
  overflow-x: hidden;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: auto;
  text-align: center;
  color: brown;
}

h2 {
  font-family: "Meow Script", cursive;
  font-style: normal;
  font-size: 3rem;
}

hr.rounded {
  border-top: 2px solid brown;
  border-radius: 5px;
  width: 50%;
}

a {
  background-color: initial;
  color: black;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

button {
  font-family: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.background {
  background: radial-gradient(#ffece1, peachpuff);
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-attachment: scroll;
}

.content {
  position: relative;
  padding-top: 24px;
  padding-bottom: 96px;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.2s;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

@media (min-width: 992px) {
  .banner {
    background-attachment: scroll;
  }
}
